# Environment variables for backend
NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://neondb_owner:npg_zsIrKa5BiuG2@ep-cold-math-ado378dr-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
FRONTEND_URL=http://localhost:5173
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_SECRET= 
FACEBOOK_CLIENT_ID=
JWT_SECRET=